.from {
    padding: 80px 0 80px 0;
    background-image: url("../img/from_bg.webp");
    &__title {
        &:after {
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            background-color: #4F8FF0;
            margin-top: 10px;
        }
    }
    &__title-content {
        display: flex;
        justify-content: space-between;
    }
    &__cards {
        display: flex;
        gap: 24px;
        margin-top: 48px;
        overflow: scroll;
        width: 100%;
    }
    &__card {
        background-color: #fff;
        width: 648px;
        box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
        padding: 32px;
    }
    &__card-content {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    &__card-icon {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
    &__card-text {
        font-size: 14px;
        color: #222;
        line-height: 150%;
        font-weight: 400;
        margin-top: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
            line-clamp: 3;
        -webkit-box-orient: vertical;
    }


    &__title-company {
        font-size: 14px;
        font-weight: 300;
        line-height: 120%;
        width: 401px;
    }
    &__title-name {
        display: flex;
        color: #222;
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
    }
    &__btns {
        display: flex;
        gap: 24px;
        margin-top: 32px;
    }
    &__btn-write {
        color: #222;
        background-color: #E6E6E6;
        width: 185px;
        height: 49px;
        font-size: 14px;
        font-weight: 900;
        font-family: "Nunito Sans";
        line-height: 120%;
        text-transform: uppercase;
        transition: 0.2s;
        max-height: 49px;
        &:hover {
            background-color: #fff;
            color: #000000;
            outline: 2px solid #E6E6E6;
            cursor: url('../img/cursors/personal_pointer.svg'), auto;
        }
    }
    &__slider-line {
        width: 37px;
        height: 2.5px;
        transform: rotate(-65deg);
        background-color: #4F8FF0;
    }
}
@media (max-width: 754px) {
    .from__card2 {
        display: none;
    }
}
@media (max-width: 834px) {
    .from {
        padding: 60px 0 60px 0;
    }
    .from__btns {
        margin-top: 36px;
    }
}
@media (max-width: 390px) {
    .from {
        padding: 40px 0 40px 0;
    }
}
@media (max-width: 1382px) {
    .from__title {
        padding: 0 0 0 64px;
    }
    .from__btns {
        padding: 0 0 0 64px;
    }
}
@media (max-width: 1382px) {
    .from__cards {
        padding: 0 0 0 69px;
    }
}
@media (max-width: 390px) {
    .from__title {
        padding: 0 0 0 24px;
    }
    .from__btns {
        padding: 0 0 0 24px;
    }
    .from__cards {
        padding: 0 0 0 24px;
    }
}