.button {
    
    padding: 16px 24px;
    color: #FFF;
    background-color: #4F8FF0;
    transition: 0.2s;
    max-height: 49px;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        color: #4F8FF0;
        outline: 2px solid #4F8FF0;
        cursor: url('../img/cursors/materials_pointer.svg'), auto;
    }
}
@media (max-width: 538px) {
    .button {
        margin-bottom: 0px
    }
}