.logo__title {
    color: #4F8FF0;
    font-family: "Nunito Sans";
    text-transform: uppercase;
    line-height: 150%;
    font-weight: 900;
    font-size: 28px;
}
.logo__text {
    display: flex;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-transform: lowercase;
    line-height: 150%;
    margin-top: -10px;
}
@media (max-width: 834px) {
    .logo__title {
      font-size: 28px;
    }
    .logo__text {
      font-size: 20px;
    }
    .footer__contact {
      gap: 16px;
    }
  }