.slider {
    
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__Bullets {
        display: flex;
        gap: 8px;
        
        
    }
    &__Buttons {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__Bullet {
        display: flex;
        width: 4px;
        height: 24px;
        background-color: #fff;
        margin-top: auto;
        cursor: pointer;
        cursor: url('../img/cursors/materials_pointer.svg'), auto;
    }
    &__Button {
        cursor: pointer;
        cursor: url('../img/cursors/materials_pointer.svg'), auto;
    }
    &__line {
        width: 36px;
        height: 3px;
        background-color: #fff;
        transform: rotate(-70deg);
    }
}
@media (max-width: 696px) {
    .slider__content {
        display: none;
    }
}
@media (max-width: 660px) {
    .from__slider-Buttons {
        display: none;
    }
}